.homeHeader {
    height: 50px;
    background: #7ad9f9;
    z-index: 1000;
    position: fixed;
    left: 0px;
    right: 0px;
    top: 0px;
    border-bottom: 1px solid #00CCFF;
}
.homeHeader .menu, .homeHeader .search {
    width: 60px;
    height: 50px;
}
.homeHeader .menu .fa, .homeHeader .search .fa {
    display: block;
    font-size: 20px;
    text-align: center;
    line-height: 50px;
    color: #fff; 
}
.homeHeader .menu {
    float: left;
}
.homeHeader .logo {
    float: left;
    margin: 0 auto;
}
.homeHeader .search {
    float: right;
}
.homeHeader img {
    margin: 6px 0 0 0;
}
.homeHeader .mask {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0,0,0,.3);
    position: fixed;
}