.navbox {
    width: 375px;
    height: 170px;
    background: #fff;
}
.navbox .nav {
    margin: 0px;
    width: 375px;
    height: 150px;
    padding: 20px 0 0 0;
    list-style: none;
}
.navbox .nav li {
    width: 93px;
    height: 70px;
    background: #fff;
    margin: 0 0 5px 0; 
    float: left;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.navbox .nav li img {
    width: 40px;
    height: 40px; 
}
.navbox .nav li span {
    display: block;
    width: 93px;
    height: 20px;
    font-size: 12px;
    line-height: 20px;
    color: #000;
    text-align: center;
    margin: 3px 0 0 0;
}
    
.navbox h2 {
    width: 373px;
    height: 44px;
    font-size: 15px;
    color: #666;
    line-height: 44px;
    text-align: center;
    border: 1px solid #ddd;
    background: #eee;
}
