.footer {
    display: block;
    height: 50px;
    background: #efefef;
    z-index: 10;
    position: fixed;
    bottom: 0px;
    left: 0px;
    right: 0px;
    border-top: 1px solid #bcbcbc;
}
.footer .nav {
    height: 48px;
}
.footer .ful {
    margin: 0;
    padding: 0;
    height: 48px;
    list-style: none;
}
.footer .items {
    float: left;
    width: 75px;
    height: 46px;
    font-size: 14px;
    line-height: 60px;
    text-align: center;
    color: #666;
    padding: 4px 0 0 0;
    opacity: 0.6;
}
.footer .items i,.footer .items span {
    display: block;
    width: 75px;
    color: #666;
}
.footer .items i {
    height: 27px;
    font-size: 27px;
}
.footer .items span {
    height: 18px;
    font-size: 12px;
    line-height: 18px;
    color: #000;
}
.footer a {
    float: left;
    display: block;
    width: 75px;
    height: 50px;
}
.footer .act {
    background: #bcbcbc;
}
