.guangHeader{
        height: 50px;
        background: #f60;
        z-index: 1000;
        position: fixed;
        left: 0px;
        
        right: 0px;
        top: 0px;
        left: 0px;
        border-bottom: 1px solid #00CCFF;
}
.guangHeader .back, .bars {
    width: 60px;
    height: 50px;
}
.guangHeader .back i, .bars i {
    display: block;
    font-size: 20px;
    text-align: center;
    line-height: 50px;
    color: #fff; 
}
.guangHeader .back {
    float: left;
}
.guangHeader .logo {
    float: left;
    /* margin: 0 auto; */
}
.guangHeader .bars {
    float: right;
}
.guangHeader .logo img {
    margin: 6px auto;
}